.info-content{
  display: flex;
 flex-direction: column;
 text-align: center;
 padding: 60px;
}

.info-image{
  max-width: 120px;
  align-self: center;
}

.info-text{
  color: black;
  font-weight: 900;
  font-size: 24px;
  max-width: 358px;
  align-self: center;
}